.thead #head {
    background-color: #233490 !important;
    color: #fff
}
@media (max-width: screen-xs-max) {  }
@media (min-width: screen-sm-min) and (max-width: screen-sm-max) { }
@media (min-width: screen-md-min) and (max-width: screen-md-max) {  }
@media (min-width: screen-lg-min) {  }

.bodys {
	
	height: 100hv;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../photo/bg-2.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}
.full-page
{
    height: 100%;
	width: 100%;
	
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}



a
{
    text-decoration:none ;
    color: palevioletred;
    font-size: 28px;
}
#login-form
{
    display:inline-block;
}
.form-box
{
    width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
	background:rgba(0,0,0,0.3);
	padding:10px;
	border: 2px solid #ccc;
	padding: 30px;
	border-radius: 100px;
}
.image
{
		width:100vh;
		margin: 35px auto;
		position: absolute;
		border-radius: 100px;
		top: -86px;
		padding-left: 113px;
		overflow: auto;
}
.image img{
	border: 2px solid #ccc;
}

.input-group-login
{
	top: 110px;
	position:absolute;
	width:280px;
	transition:.5s;
	
}
label {
	color: rgb(252, 249, 249);
	font-size: 18px;
	padding: 10px;
}

.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 80%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background:rgba(0,0,0,0.5);
    border: 0;
    top: 24px;
    outline: none;
    border-radius: 30px;
    margin-top:34px;
	color:#77A;
	
}
.submit-btn:hover{
	color: white;
	background:rgb(16, 216, 106);

}
.check-box
{
	margin: 10px 10px 34px 0;
}
span
{
	color:#777;
	font-size:12px;
	bottom:32px;
	position:absolute;
}
#login
{
	left:50px;
}
#login input
{
	color:white;
	font-size:15;
}
